<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid 19 Tracker</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius rem laudantium officia. Repellendus dicta qui praesentium cumque quam atque, facilis, voluptatem illum earum, eveniet quo soluta saepe tempore maxime animi?
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quam incidunt molestiae quos blanditiis libero in explicabo quis nemo ipsum necessitatibus quas ratione, itaque suscipit tenetur laboriosam, saepe facere. In.</p>
</div>